<div class="search-and-multiselect">
  <div class="sidebar-content">
    <mat-card appearance="outlined">
      <div class="settings">
        <mat-card-content>
          <mat-form-field appearance="outline">
            <input
              matInput
              [(ngModel)]="query"
              [placeholder]="'SEARCH_PANEL.SEARCH_PLACEHOLDER' | translate"
            />
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>

          <span class="title">
            {{ 'SEARCH_PANEL.SETTINGS_TITLE' | translate }}
          </span>

          <div class="fields">
            <div class="field" *ngFor="let field of fields">
              <input
                [id]="field.field"
                class="checkbox-custom"
                type="checkbox"
                (click)="toggleFieldEnabled(field.field)"
                [checked]="field.enabled"
              />
              <!-- اگر بعداً خواستی label هم کاملاً i18n شود، می‌توانی این را عوض کنی -->
              <label
                [for]="field.field"
                class="checkbox-custom-label noselect"
              >
                {{ field.label }}
              </label>
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <div class="sidebar-content">
    <mat-accordion multi>
      <!-- Techniques panel -->
      <mat-expansion-panel
        [expanded]="expandedPanels[0]"
        (click)="userClickedExpand = true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              {{
                'SEARCH_PANEL.TECHNIQUES_HEADER'
                  | translate:{ count: techniqueResults.length }
              }}
            </h4>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div>
            <div class="allresults-buttons">
              <button class="button" (click)="selectAll(techniqueResults)">
                {{ 'SEARCH_PANEL.SELECT_ALL' | translate }}
              </button>
              <button class="button" (click)="deselectAll(techniqueResults)">
                {{ 'SEARCH_PANEL.DESELECT_ALL' | translate }}
              </button>
            </div>
            <div class="results">
              <table
                class="results"
                *ngIf="techniqueResults.length > 0; else noTechniquesResults"
              >
                <tr *ngFor="let result of techniqueResults">
                  <td
                    (mouseenter)="mouseEnter(result)"
                    (mouseleave)="mouseLeave()"
                  >
                    <span *ngIf="result.isSubtechnique">
                      {{ result.parent.name }} :
                    </span>
                    {{ result.name }}
                  </td>
                  <td>
                    <a
                      href="{{ result.url }}"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {{ 'SEARCH_PANEL.VIEW' | translate }}
                    </a>
                  </td>
                  <td>
                    <button class="button" (click)="select(result)">
                      {{ 'SEARCH_PANEL.SELECT' | translate }}
                    </button>
                  </td>
                  <td>
                    <button class="button" (click)="deselect(result)">
                      {{ 'SEARCH_PANEL.DESELECT' | translate }}
                    </button>
                  </td>
                </tr>
              </table>
              <ng-template #noTechniquesResults>
                <div class="no-results">
                  {{ 'SEARCH_PANEL.NO_RESULTS_TECHNIQUES' | translate }}
                </div>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>

      <!-- STIX types -->
      <mat-expansion-panel
        *ngFor="let stixType of stixTypes; let i = index"
        class="stixType"
        [expanded]="expandedPanels[i + 1]"
        (click)="userClickedExpand = true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              {{
                'SEARCH_PANEL.STIX_TYPE_HEADER'
                  | translate:{
                  label: (stixType.label | titlecase),
                  count: stixType.objects.length
                }
              }}
            </h4>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="allresults-buttons">
            <button
              class="button"
              (click)="selectAll(stixType.objects, false)"
            >
              {{ 'SEARCH_PANEL.SELECT_ALL' | translate }}
            </button>
            <button
              class="button"
              (click)="deselectAll(stixType.objects, false)"
            >
              {{ 'SEARCH_PANEL.DESELECT_ALL' | translate }}
            </button>
          </div>
          <div class="results objects">
            <table
              *ngIf="stixType.objects.length > 0; else noResultsStixType"
            >
              <tr *ngFor="let stixObject of stixType.objects">
                <td
                  (mouseenter)="mouseEnter(stixObject, false)"
                  (mouseleave)="mouseLeave()"
                >
                  {{ stixObject.name }}
                </td>
                <td>
                  <a
                    href="{{ stixObject.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ 'SEARCH_PANEL.VIEW' | translate }}
                  </a>
                </td>
                <td>
                  <button
                    class="button"
                    (click)="select(stixObject, false)"
                  >
                    {{ 'SEARCH_PANEL.SELECT' | translate }}
                  </button>
                </td>
                <td>
                  <button
                    class="button"
                    (click)="deselect(stixObject, false)"
                  >
                    {{ 'SEARCH_PANEL.DESELECT' | translate }}
                  </button>
                </td>
              </tr>
            </table>
            <ng-template #noResultsStixType>
              <div class="no-results">
                {{
                  'SEARCH_PANEL.NO_RESULTS_FOR'
                    | translate:{ label: stixType.label }
                }}
              </div>
            </ng-template>
          </div>
        </ng-template>
      </mat-expansion-panel>

      <!-- Data Components -->
      <mat-expansion-panel
        [expanded]="expandedPanels[4]"
        (click)="userClickedExpand = true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              {{
                'SEARCH_PANEL.DATA_COMPONENTS_HEADER'
                  | translate:{ count: stixDataComponentLabels.length }
              }}
            </h4>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="allresults-buttons">
            <button
              class="button"
              (click)="selectAll(stixDataComponentsResults, true)"
            >
              {{ 'SEARCH_PANEL.SELECT_ALL' | translate }}
            </button>
            <button
              class="button"
              (click)="deselectAll(stixDataComponentsResults, true)"
            >
              {{ 'SEARCH_PANEL.DESELECT_ALL' | translate }}
            </button>
          </div>
          <div class="results objects">
            <table
              *ngIf="stixDataComponentLabels.length > 0; else noResultsData"
            >
              <tr *ngFor="let label of stixDataComponentLabels">
                <td
                  (mouseenter)="
                    mouseEnterAll(stixDataComponents.get(label).objects)
                  "
                  (mouseleave)="mouseLeave()"
                >
                  {{ label }}
                </td>
                <td>
                  <a
                    href="{{ stixDataComponents.get(label).url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ 'SEARCH_PANEL.VIEW' | translate }}
                  </a>
                </td>
                <td>
                  <button
                    class="button"
                    (click)="
                      selectAll(stixDataComponents.get(label).objects, true)
                    "
                  >
                    {{ 'SEARCH_PANEL.SELECT' | translate }}
                  </button>
                </td>
                <td>
                  <button
                    class="button"
                    (click)="
                      deselectAll(stixDataComponents.get(label).objects, true)
                    "
                  >
                    {{ 'SEARCH_PANEL.DESELECT' | translate }}
                  </button>
                </td>
              </tr>
            </table>
            <ng-template #noResultsData>
              <div class="no-results">
                {{ 'SEARCH_PANEL.NO_RESULTS_DATA_SOURCES' | translate }}
              </div>
            </ng-template>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-divider></mat-divider>

  <div class="button-container sidebar-content">
    <button
      (click)="viewModel.sidebarOpened = !viewModel.sidebarOpened"
      mat-raised-button
    >
      {{ 'COMMON.CLOSE' | translate }}
    </button>
  </div>
</div>
