<div class="contextmenu" (contextmenu)="closeContextmenu()">
  <!-- covers entire screen -->
  <div class="cover" (click)="closeContextmenu()"></div>
  <!-- the actual menu -->
  <div [ngClass]="'menu ' + placement">
    <div class="contextMenu-section">
      <div class="contextMenu-header">
        {{ technique.name }} ({{ technique.attackID }})
      </div>
    </div>

    <div class="contextMenu-section">
      <div class="contextMenu-button" (click)="pinCell()">
        {{ 'CONTEXT_MENU.PIN_UNPIN_TOOLTIP' | translate }}
      </div>
    </div>

    <div *ngIf="configService.getFeature('selecting_techniques')" class="contextMenu-section">
      <div class="contextMenu-button" (click)="select()">
        {{ 'CONTEXT_MENU.SELECT' | translate }}
      </div>
      <div class="contextMenu-button" (click)="addSelection()">
        {{ 'CONTEXT_MENU.ADD_TO_SELECTION' | translate }}
      </div>
      <div class="contextMenu-button" (click)="removeSelection()">
        {{ 'CONTEXT_MENU.REMOVE_FROM_SELECTION' | translate }}
      </div>
    </div>

    <div *ngIf="configService.getFeature('selecting_techniques')" class="contextMenu-section">
      <div class="contextMenu-button" (click)="selectAll()">
        {{ 'CONTEXT_MENU.SELECT_ALL' | translate }}
      </div>
      <div class="contextMenu-button" (click)="deselectAll()">
        {{ 'CONTEXT_MENU.DESELECT_ALL' | translate }}
      </div>
      <div class="contextMenu-button" (click)="invertSelection()">
        {{ 'CONTEXT_MENU.INVERT_SELECTION' | translate }}
      </div>
    </div>

    <div *ngIf="configService.getFeature('selecting_techniques')" class="contextMenu-section">
      <div class="contextMenu-button" (click)="selectAnnotated()">
        {{ 'CONTEXT_MENU.SELECT_ANNOTATED' | translate }}
      </div>
      <div class="contextMenu-button" (click)="selectUnannotated()">
        {{ 'CONTEXT_MENU.SELECT_UNANNOTATED' | translate }}
      </div>
    </div>

    <div *ngIf="configService.getFeature('selecting_techniques')" class="contextMenu-section">
      <div class="contextMenu-button" (click)="selectAllInTactic()">
        {{ 'CONTEXT_MENU.SELECT_ALL_IN_TACTIC' | translate }}
      </div>
      <div class="contextMenu-button" (click)="deselectAllInTactic()">
        {{ 'CONTEXT_MENU.DESELECT_ALL_IN_TACTIC' | translate }}
      </div>
    </div>

    <div class="contextMenu-section">
      <div class="contextMenu-button" (click)="viewTechnique()">
        {{ 'CONTEXT_MENU.VIEW_TECHNIQUE' | translate }}
      </div>
      <div class="contextMenu-button" (click)="viewTactic()">
        {{ 'CONTEXT_MENU.VIEW_TACTIC' | translate }}
      </div>
    </div>

    <div class="contextMenu-section" *ngIf="configService.contextMenuItems.length > 0">
      <div
        class="contextMenu-button"
        *ngFor="let contextMenuItem of configService.contextMenuItems"
        (click)="openCustomContextMenuItem(contextMenuItem)">
        {{ contextMenuItem.label }}
      </div>
    </div>

    <div *ngIf="links.length" class="contextMenu-section">
      <div class="link-container" *ngFor="let link of links">
        <div *ngIf="!link.divider; else divider" class="contextMenu-button" (click)="openLink(link)">
          {{ link.label }}
        </div>
        <ng-template #divider>
          <div class="divider"></div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
